#cw_uploader_easy {
    text-align: center;
    width: 500px;
    padding: 3%;
    border: thin solid black;
}

#cw_uploader_easy input {
    display: none;
}

#cw_uploader_easy label {
    cursor: pointer;
}

#imageName {
    color: green;
}

.cw_uploader_stock-section-header {
    padding: 13px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    clear: both;
}

.cw_uploader_stock-section-header-layout {
    display: flex;
    align-items: center;
    padding: 0 0 0 40px;
    padding: 0 0 0 var(--large-gap);
    flex: 1 auto;
    height: 60px;
    background: #fff;
    font-weight: 600;
    font-size: 14px;
}

.cw_uploader_stock-section-column {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.cw_uploader_stock-section-block-wrapper {
    background-color: white;
    color: black;
    height: 100%;
    margin: 10px;
    padding: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    cursor: pointer;
}

.cw_uploader_stock-section-table table {
    border-collapse: collapse;
    width: 100%;
}

.cw_uploader_stock-section-table th,
td {
    text-align: left;
    padding: 8px;
}

.cw_uploader_stock-section-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cw_uploader_easy_button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.cw_uploader_easy_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.form-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}